---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Notfall App">
	<div class="flex flex-row justify-between items-center">
		<div class="">
			<img class="scale-75" src="/public/images/whiteboard.jpg" alt="pic">
		</div>
		<div class="w-1/2 flex flex-col justify-between ">
			<div class="text-6xl mb-4">
				Willkommen bei der<br />
				Rettungsdienstblog Notfall App.<br />
			</div>
			<div class="mb-6 leading-relaxed">
				Diese App kann bei der Arbeit oder<br />
				auch privat genutzt werden.<br />
				Achtung Notfall!
			</div>
		</div>
	</div>
</Layout>
