---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---


<NavigationSocialIcon icon="mdi:alternate-email" url="mailto:msdynamics@web.de" title="Email" />

<div id="colorSwitch" class="hover:cursor-pointer rounded-full bg-light dark:bg-light p-1">
  <img src="/icons/moon.svg" alt="moon" class="w-4 h-4">
</div>